{% extends 'query/base.html' %}
{% load socialaccount %}
{% block content %}


  {% if user.is_authenticated %}

      <h3><a class="mr-2" href="{% url 'post_create' %}">ASK A QUERY</a></h3>

     {% for post in posts %}

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'comment_create' post.id %}">{{ post.title }}</a>
                    <h2>Category:-{{ post.Subject }}</h2>
                </div>
                <h2>{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
                <h3>written by {{ post.writer }} on {{ post.Date_posted}}</h3>
            </div>
        </article>

    {% endfor %}
      {% else %}
      <script>
    window.location.href = "{% provider_login_url 'google' %}";
      </script>
  {% endif %}










{% endblock%}
